<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
    <div class="row" *ngIf="detail">
        <div class="col-4">
            <img [src]="detail.Poster" [alt]="detail.Title">
        </div>
        <div class="col-8">
            <h1 class="display-1">{{ detail.Title }}</h1>

            <app-label-description [title]="'Genrers'" [description]="detail.Genre" ></app-label-description>

            <app-label-description [title]="'Awards'" [description]="detail.Awards" ></app-label-description>

            <app-label-description [title]="'Plot'" [description]="detail.Plot" ></app-label-description>

            <app-label-description [title]="'Writers'" [description]="detail.Writer" ></app-label-description>

            <app-label-description [title]="'Actors'" [description]="detail.Actors" ></app-label-description>

            <app-label-description [title]="'Released'" [description]="detail.Released" ></app-label-description>

            <app-label-description [title]="'IMDB Rating'" [description]="detail.imdbRating" ></app-label-description>
            
            <div *ngFor="let item of detail.Ratings">
                <app-label-description [title]="item.Source" [description]="item.Value" ></app-label-description>
            </div>
        </div>
    </div>
</div>