<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
    <div class="row" *ngIf="detail">
        <div class="col-4">
            <img [src]="detail.Poster" [alt]="detail.Title">
        </div>
        <div class="col-8">
            <h1 class="display-1">{{ detail.Title }}</h1>
            <p>
                <strong>Genrers: </strong> 
                {{ detail.Genre }}
            </p>
            <p>
                <strong>Awards: </strong>
                {{ detail.Awards }}
            </p>
            <p>
                <strong>Description: </strong>
                {{ detail.Plot }}
            </p>
            <p>
                <strong>Writers: </strong>
                {{ detail.Writer }}
            </p>
            <p>
                <strong>Actors: </strong> 
                {{ detail.Actors }}
            </p>
            <p>
                <strong>Released: </strong> 
                {{ detail.Released }}
            </p>
            <p>
                <strong>IMDB Rating: </strong> 
                {{ detail.imdbRating }}
            </p>
            <span *ngFor="let item of detail.Ratings">
                <p>
                    <strong>{{ item.Source }}: </strong>
                    {{ item.Value }}
                </p>
            </span>
        </div>
    </div>
</div>