<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="detail">
      {{ detail.Title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="detail">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img *ngIf="detail.Poster != 'N/A'" [src]="detail.Poster" [alt]="detail.Title"></ion-img>
        <ion-img *ngIf="detail.Poster == 'N/A'" src="http://www.pacifil.com/public/assets/img/sustainability/placeholder-img-3.jpg" [alt]="detail.Title"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-label>Description: {{ detail.Plot }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Genrers: {{ detail.Genre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awards: {{ detail.Awards }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Writers: {{ detail.Writer }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Actors: {{ detail.Actors }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Released: {{ detail.Released }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IMDB Rating: {{ detail.imdbRating }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of detail.Ratings">
      <ion-label>{{ item.Source }}: {{ item.Value }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>